.search{
    min-height: 100vh;
    height: auto;
    background: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &-search{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        input{
            margin: 20px 0;
            padding: 10px;
            outline: none;
            border: 1px solid gray;
            width: 300px;
            font-size: 18px;
            border-radius: 10px;
        }

        button{
            font-size: 18px;
            border: 1px solid gray;
            padding: 5px;
            color: white;
            background: #f3b542;
            margin-left: 10px;
            border-radius: 5px;
            outline: none;
        }
    }

    &-grid{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .search-meal{
            text-align: center;
        }
        img{
            width: 250px;
            border: 1px solid gray;
            margin: 10px;
            transition: all 0.4s ease;
            border-radius: 10px;
            
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}